[Unit]
Description=Pluto.jl for __APP__
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__DATA_DIR__
Environment="HOME=/var/lib/julia"
ExecStart=__INSTALL_DIR__/run
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
